<html>
<head>
	<title>Simple Flask Page</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
	<div class='container'>
		<h2>Movie Query</h2>
		<form method="post" action="{{url_for('home')}}">
			<input type='text' id='query' name='title' />
			<button class='btn'>Search</button>
		</form>
	</div>
</body>
</html>
